body
{
    background-color: blue;
}

ul
{
    color: black;

}
li
{
    position: relative;
    width: 33vw;
    text-align: center;
    text-decoration: none;
    list-style-type: none;

}

header
{
    background-color: white;
    top: 0px;
    position: fixed;
    z-index: -1;
    left: 0px;
    width: 100vw;
    height: 10vh;
}
main
 {
    top: 10vh;
    position: relative;
    text-align: center;
 }