/*name: Tristan Van de Wit, Fouzi Dada*/
/*Date: 20-09-2024*/

/*De style page van Hypotheek Navigator*/

body
{
    background-color: #8b8bd5;
}

ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: aliceblue;
}

li
{
    float: left;
}

li a
{
    display: block;
    color: #8b8bd5;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover
{
    background-color: #111;
}


header
{
    background-color: aliceblue;
    top: 0px;
    position: fixed;
    z-index: 1;
    left: 0px;
    width: 100vw;
    height: 10vh;
}
main
 {
    top: 10vh;
    position: relative;
    text-align: center;
    z-index: 0;
 }

form, input, select, option,h4
{
    z-index: 1;
}

#logo
{
    float: right;
    width: 5vw;
    height: 9vh;
}
footer
{
    background-color: aliceblue;
    bottom: 0;
    position: fixed;
    left: 0;
    width: 100vw;
}